@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto',Verdana;
    font-size: 1rem;
    background-image: url(/images/fondo);
}
.logo{
    width: 40px;
}
